@charset "utf-8";



/*slide.cssの読み込み
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url(slide.css);



/*PC・タブレット・スマホ(全端末)共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	color: #fff;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 15px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #000;	/*背景色（古いブラウザ用）*/
	background: radial-gradient(500px at center top,#000,#000);	/*半径500pxの円形グラデ、中央・上部に配置。円の中心色#a29376から#544c3dに向かったグラデーション。*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,input,textarea,select {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}
video {max-width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #fff;	/*リンクテキストの色*/
}
a:hover {
	color: #e8bf2e;	/*マウスオン時の文字色*/
}

/*コンテナー（ホームページを囲む一番外側のブロック）
---------------------------------------------------------------------------*/
#container {
	max-width: 1400px;	/*最大幅*/
	margin: 0 auto;
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
	text-align: center;	/*内容を中央よせ*/
}
/*ロゴ画像設定*/
header #logo img {
	width: 900px;	/*画像幅*/
	margin: 40px 0;	/*上下、左右へのロゴの外側に空けるスペース*/
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニュー全体を囲むブロック*/
#menubar {
	text-align: center;	/*文字をセンタリング*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	display: inline-block;	/*横並びにさせる*/
	margin: 0 10px 40px;	/*上、左右、下へのメニューの外に空けるスペース*/
}
#menubar li a {
	display: block;text-decoration: none;
	font-size: 12px;	/*文字サイズ*/
	height: 110px;		/*ボタンの高さ（ここの110の数字３箇所は全て揃える）*/
	width: 110px;		/*ボタンの幅（ここの110の数字３箇所は全て揃える）*/
	line-height: 110px;	/*行間（ここの110の数字３箇所は全て揃える）*/
	background: #020202;	/*背景色（古いブラウザ用）*/
	background-image: linear-gradient(#4a4a4a, #020202);	/*背景グラデーション*/
	border-radius: 50%;	/*角丸のサイズ。円形になります。*/
	box-shadow: 1px 2px 5px rgba(0,0,0,0.5);	/*ボックスの影。右へ、下へ、広げる幅、0,0,0は黒の事で0.5は50%色がついた状態の事。*/
}
/*マウスオン時*/
#menubar li a:hover {
	box-shadow: none;	/*ボックスの影を消す*/
	position: relative;
	top: 1px;	/*位置を少しずらすための設定*/
	left: 1px;	/*位置を少しずらすための設定*/
}
/*現在表示中（current）の設定*/
#menubar li.current a {
	color: #e8bf2e;	/*文字色*/
}
/*スマホ用メニューを表示させない*/
#menubar-s {display: none;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
	overflow: hidden;
	background: #000;	/*背景色*/
	margin: 0 3%;		/*上下、左右へのボックスの外に空けるスペース*/
	padding: 3%;		/*ボックス内の余白*/
	border-radius: 30px;	/*角丸のサイズ。この行を削除すると角がでます。*/
}
/*コンテンツのh2タグの設定*/
#contents h2 {
	clear: both;margin-bottom: 20px;
	font-size: 16px;		/*文字サイズ*/
	color: #fff;			/*文字色*/
	padding: 10px 20px;		/*上下、左右への余白*/
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#fff, #ccc);	/*背景グラデーション*/
	border-radius: 50px;	/*角を丸くする指定。この１行を削除すれば角丸がなくなります。*/
	color: #000;			/*文字色*/
}
/*コンテンツのh3タグの設定*/
#contents h3 {
	clear: both;margin-bottom: 20px;
	font-size: 16px;	/*文字サイズ*/
	padding: 8px 20px;	/*上下、左右への余白*/
	background: #222;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#222, #000);	/*背景グラデーション*/
	border: 1px solid #555;	/*枠線の幅、線種、色*/
	color: #fff;			/*文字色*/
	border-radius: 50px;	/*角を丸くする指定。この１行を削除すれば角丸がなくなります。*/
}
/*コンテンツのp(段落)タグ設定*/
#contents p {
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}
/*他。微調整。*/
#contents p + p {
	margin-top: -5px;
}
#contents h2 + p,
#contents h3 + p {
	margin-top: -10px;
}
#contents section + section {
	margin-top: 40px;
}

/*menuページ
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
.list {
	position: relative;
	float: left;	/*左に回り込み*/
	width: 33.3%;	/*幅*/
}
/*画像*/
.list img {
	transition: 1s;
	opacity: 0.5;	/*50%の透明度にする*/
}
/*画像（マウスオン時）*/
.list:hover img {
	opacity: 1;	/*マウスオン時に100%色を出す*/
}
/*photoボックス内の段落(p)タグ*/
.list p {
	display: none;	/*非表示にしておく設定*/
	padding: 5px 0 !important;	/*上下、左右への段落タグ内の余白*/
	position: absolute;
	bottom: 0px;	/*listボックスの下から0pxの場所に配置*/
	width: 100%;	/*幅*/
	background: #111;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.5);	/*背景色。0,0,0は黒の事で0.5は50%色がついた状態のこと*/
	color: #fff;		/*文字色*/
	text-align: center;	/*文字をセンタリング*/
	font-size: 80%;		/*文字サイズ*/
}
/*マウスオン時の段落タグ*/
.list:hover p {
	display: block;	/*非表示から表示に切り替える*/
}

/*フッター(ページ最下部のcopyrightのパーツ)設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;	/*文字をセンタリング*/
	padding: 20px;	/*ボックス内の余白*/
}
footer a {
	text-decoration: none;
}
footer .pr {
	display: block;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0px 20px;	/*上下、左右へのブロック内の余白*/
	margin-bottom: 20px;
}
/*日付設定*/
#new dt {
	float: left;
	width: 9em;
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 9em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #555;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: left;		/*文字を左寄せ*/
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
	background: #222;		/*背景色*/
}
/*ta1設定*/
.ta1 {
	table-layout: fixed;
	width: 96%;
	margin: 0 2% 20px;
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #555;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px 15px;	/*ボックス内の余白*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 140px;		/*幅*/
	text-align: center;	/*センタリング*/
	font-weight: normal;
}

/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
/*アニメーションのキーグレーム設定（変更不要）*/
@keyframes scroll {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*デフォルトでは非表示に*/
body .nav-fix-pos-pagetop a {display: none;}
/*ボタンの設定*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 100;position: fixed;
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
	border-radius: 50%;	/*角丸のサイズ*/
	bottom: 50px;		/*下から50pxの場所に配置*/
	right: 3%;			/*右から3%の場所に配置*/
	background: #000;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.6);	/*背景色。0,0,0は黒の事で0.6は色が60%ついた状態の事。*/
	color: #fff;		/*文字色*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	animation-name: scroll;	/*上のアニメーションで指定しているkeyframesの名前（scroll）*/
	animation-duration: 1S;	/*アニメーションの実行時間*/
	animation-fill-mode: forwards;	/*アニメーションの完了後、最後のキーフレームを維持する*/
}
/*マウスオン時*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;	/*背景色*/
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #333;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.clear {clear: both;}
ul.disc {padding: 0em 20px 20px 40px;list-style: disc;}
.color1, .color1 a {color: #ffcf3e;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
img.fr {float: right;margin-left: 10px;margin-bottom: 10px;}
img.fl {float: left;margin-right: 10px;margin-bottom: 10px;}
.big1 {font-size: 24px;letter-spacing: 0.2em;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}



/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。透明度(opacity)0%から透明度100%にする指定。*/
@keyframes menu1 {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: hidden;
	width: 100%;
	top: 0px;					/*上から0pxの場所に配置*/
	border-top: 1px solid #fff;	/*上の線の幅、線種、色*/
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの完了後、最後のキーフレームを維持する*/
	margin-bottom: 20px;
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	display: block;text-decoration: none;
	padding: 15px 10px 15px 20px;	/*上、右、下、左へのメニュー内の余白*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	background: rgba(0,0,0,0.6);	/*背景色*/
	color: #fff;		/*文字色*/
	font-size: 20px;	/*文字サイズ*/
	text-align: center;	/*文字をセンタリング*/
}
/*現在表示中メニュー（current）*/
#menubar-s li.current a {
	color: #e8bf2e;	/*文字色*/
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;z-index: 20;
	top: 10px;	/*上から10pxの場所に配置*/
	right: 3%;	/*右から3%の場所に配置*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 50px;	/*幅*/
	height: 50px;	/*高さ*/
	border-radius: 50%;	/*円形にするスタイル。この行を削除すれば正方形になります。*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: url(../images/icon_menu.png) no-repeat center top/50px,rgba(0,0,0,0.7);
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: url(../images/icon_menu.png) no-repeat center bottom/50px,rgba(0,0,0,0.7);
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub,body.s-n #footermenu,.m-n {display: none;}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
	border-radius: 0px;
}
/*コンテンツのh2タグの設定*/
#contents h2 {
	font-size: 14px;	/*文字サイズ*/
}
/*コンテンツのh3タグの設定*/
#contents h3 {
	font-size: 14px;	/*文字サイズ*/
}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1設定*/
.ta1, .ta1 td, .ta1 th {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 100px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
.big1 {font-size: 16px;}
img.fr,img.fl {float: none;margin: 0;width: 100%;}
.sh {display:block;}
.pc {display:none;}


}
